* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	direction: rtl;
}

@font-face {
	font-family: appFont;
	src: url("./fonts/IRANSans(FaNum).ttf");
}
@font-face {
	font-family: appMediumFont;
	src: url("./fonts/IRANSans(FaNum)_Medium.ttf");
}
@font-face {
	font-family: appBoldFont;
	src: url("./fonts/IRANSans(FaNum)_Bold.ttf");
}
@font-face {
	font-family: appLightFont;
	src: url("./fonts/IRANSans(FaNum)_Light.ttf");
}

html {
	font-family: appFont;
}

.medium {
	font-family: appMediumFont;
}

.bold {
	font-family: appBoldFont;
}

.light {
	font-family: appLightFont;
}

@font-face {
	font-family: "icomoon";
	src: url("./icons/icomoon.eot");
	src: url("./icons/icomoon.eot") format("embedded-opentype"),
		url("./icons/icomoon.ttf") format("truetype"),
		url("./icons/icomoon.woff") format("woff"),
		url("./icons/icomoon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icomoon" !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-delivery:before {
	content: "\e900";
}
.icon-fast-delivery:before {
	content: "\e901";
}
.icon-star:before {
	content: "\e902";
}
