$primary-color: #ff00a4;
$success-color: #22a958;
$grey-color: #a3a3a3;
$white-color: #fff;
$black-color: #000;

// star colors
$star-low: #ff2717;
$star-mid: #ffba00;
$star-good: #5ba839;
$star-excellent: #305d02;
