@import "../../styles/color.module.scss";

.card__rate {
	color: #9acd32;
	background: #9acd3230;
	font-size: 0.65rem;
	margin-right: 3px;
	padding: 0px 4px;
	border-radius: 2px;
	height: 16px;

	&--low {
		color: $star-low;
		background-color: rgba($star-low, 0.1);
	}
	&--mid {
		color: $star-mid;
		background-color: rgba($star-mid, 0.1);
	}
	&--good {
		color: $star-good;
		background-color: rgba($star-good, 0.1);
	}
	&--excellent {
		color: $star-excellent;
		background-color: rgba($star-excellent, 0.1);
	}
}
