@import "../../styles/color.module.scss";

.card {
	background: $white-color;
	box-shadow: 0px 0px 5px 2px rgba($black-color, 0.15);
	margin-top: 15px;
	border-radius: 6px;
	overflow: hidden;
	min-height: 250px;

	&__cover {
		height: 135px;
		position: relative;

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}

	&__logo {
		position: absolute;
		width: 64px;
		height: 64px;
		background: $white-color;
		box-shadow: 0px 0px 5px 2px rgba($black-color, 0.15);
		padding: 5px;
		right: 10px;
		bottom: -15px;
		border-radius: 5px;
		overflow: hidden;
	}

	&__best-coupon {
		background: $white-color;
		position: absolute;
		top: 10px;
		font-size: 0.75rem;
		padding: 2px 10px 2px 10px;
		border-radius: 40px 0px 0px 40px;
		color: $success-color;
		max-width: calc(100% - 10px);
		overflow: hidden;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__info {
		padding: 20px 12px 10px 12px;
	}

	&__head {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	&__name {
		flex: 1;
		font-size: 0.9rem;
		display: flex;
		align-items: center;
		span {
			display: inline-block;
		}
	}

	&__discount-badge {
		background: $primary-color;
		color: $white-color;
		font-size: 0.6rem;
		margin: 0px 4px;
		padding: 0px 4px;
		border-radius: 3px;
	}

	&__new {
		color: $star-good;
		background-color: rgba($star-good, 0.1);
		font-size: 0.7rem;
		padding: 0px 7px;
		border-radius: 30%;
	}

	&__view {
		color: $grey-color;
		font-size: 0.7rem;
		padding: 0px 4px;
	}

	&__description {
		font-size: 0.8rem;
		margin: 7px 0px;
		white-space: nowrap;
		overflow: hidden;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__deliveryFee {
		font-size: 0.75rem;
		span {
			color: $grey-color;
			padding-left: 8px;
		}
	}
}
